<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">

        <title>CLI Guidelines</title>
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="CLI Guidelines" />
        <meta property="og:title"  content="CLI Guidelines" />
        
        <meta name="description"         content="An open-source guide to help you write better command-line programs, taking traditional UNIX principles and updating them for the modern day." />
        <meta name="twitter:description" content="An open-source guide to help you write better command-line programs, taking traditional UNIX principles and updating them for the modern day." />
        <meta property="og:description"  content="An open-source guide to help you write better command-line programs, taking traditional UNIX principles and updating them for the modern day." />
        
        <meta name="twitter:image" content="https://clig.dev/CLIG-social-card.jpg" />
        <meta property="og:image"  content="https://clig.dev/CLIG-social-card.jpg" />

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-DLXNEPQY85"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-DLXNEPQY85');
        </script>

        {{ $css := resources.Get "css/main.css" | resources.ToCSS }}
        <link rel="stylesheet" href="{{ $css.Permalink }}">
    </head>
    <body>
        {{- block "main" . }}{{- end }}
        {{ $js := resources.Get "js/main.js" }}
        <script src="{{ $js.Permalink }}"></script>
    </body>
</html>
